src/main/mule/router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="api-main" doc:id="6f5ea3a1-e1ce-4658-ba0a-5559e6c4e587">
        <http:listener path="/api/*" config-ref="api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes]" doc:name="vAttributes" doc:id="1cdc1ecf-3384-4366-a4d7-41bed240e813" variableName="vAttributes" />
        <set-variable value="#[payload]" doc:name="vPayload" doc:id="ebdc50eb-6a53-4848-98e9-8fc146ebaf3c" variableName="vPayload" />
        <apikit:router config-ref="api-config" />
    </flow>
    <flow name="get:\student:api-config" doc:id="75986e1f-a27d-41b4-b354-b7a8ccf53b56">
        <flow-ref doc:name="fetchData_LogicSubFlow" doc:id="bf3b8f20-c731-455a-b830-456fe3b9d122" name="fetchData_LogicSubFlow" />
    </flow>
    <flow name="get:\college:api-config">
        <flow-ref doc:name="fetchData_LogicSubFlow" doc:id="b2495822-d8ff-4222-9060-897c3f724b22" name="fetchData_LogicSubFlow" />
    </flow>
    <flow name="get:\enrolment:api-config">
        <flow-ref doc:name="fetchData_LogicSubFlow" doc:id="471211a3-163c-437f-a0ca-f6da1a8a270b" name="fetchData_LogicSubFlow" />
    </flow>
    <flow name="post:\enrolment:application\json:api-config">
        <flow-ref doc:name="insertData_LogicSubFlow" doc:id="2ceae551-4b29-488c-823c-74a6de99daad" name="insertData_LogicSubFlow" />
    </flow>
    <flow name="patch:\college:application\json:api-config">
        <flow-ref doc:name="updateData_LogicSubFlow" doc:id="16dcf109-caff-47c5-9468-22bc2f1ffc21" name="updateData_LogicSubFlow" />
    </flow>
    <flow name="get:\ping:api-config">
        <flow-ref doc:name="healthCheckSub_Flow" doc:id="213946f6-3812-4613-816c-fdfb4a487870" name="healthCheckSub_Flow" />
    </flow>
    <flow name="get:\admission:api-config">
        <flow-ref doc:name="fetch data from admission_details collection" doc:id="88eceb54-ee11-421a-8b48-48f6a76bbd88" name="fetchData_LogicSubFlow"/>
    </flow>
    <flow name="get:\library:api-config">
        <flow-ref doc:name="fetch data from library_details collection" doc:id="a06cee1f-98ed-4bbd-8fd4-407d6ea0a564" name="fetchData_LogicSubFlow"/>
    </flow>
    <flow name="post:\admission:application\json:api-config">
        <flow-ref doc:name="insert data to admission_details collection" doc:id="87d006ac-8f91-4228-bdc4-b84403599dc2" name="insertData_LogicSubFlow"/>
    </flow>
    <flow name="post:\library:application\json:api-config">
        <flow-ref doc:name="insert data to library_details collection" doc:id="80a01322-9454-4dc9-b203-3703a2dd8788" name="insertData_LogicSubFlow"/>
    </flow>
</mule>
